*{
  margin: 0;
  padding: 0;
  /* justify-content: space-around;
  text-align: center; */
}

.menu{
  background-color:  #6B2E38;
  display: flex;
  /* align-items: center;
  justify-content: space-around; */
}

.menu a{
  color: #f4eeed;
  text-decoration: none;
  transition: color 0.2s;
}
.opcoes{
  text-align: center;
  color: rgb(223, 223, 223);
}

